@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
}

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Outfit", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}